.Search {
  margin: 15px 0;
  height: 40px;
  width: 100%;
  min-width: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
.Search > input::placeholder {
  font-size: 18px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.Link, .Button {
  width: 100px;
  padding: 0;
}

.Link, .Link:hover {
  margin: 16px 7px;
  background: transparent;
  border: none;
}

.Button, .Button:hover {
  background: #E5E5E5;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/*.Button:hover {*/
/*  color: #333333;*/
/*}*/

.Link:last-child {
  margin-right: 0;
}

.Link:first-child{
  margin-left: 0;
}

.Menu {
  z-index: 9999;
}